<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <script src="scramble.js"></script>
  
  <!-- <script src='https://kit.fontawesome.com/51d49ef860.js' crossorigin='anonymous'></script> -->
  <!-- <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script> -->
  <title>{{ site.name }}</title>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> 
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>

<body>
  <script src="./vanilla-back-to-top.min.js"></script>
  <script>addBackToTop({
      backgroundColor: '#00',
      // innerHTML: 'Back to Top',
      innerHTML: '<a style="font-size:45px;"href=""><i class="fa fa-chevron-up"></i></a>',
      textColor: '#1772d0'
    })
  </script>
  <style>
      #back-to-top {
        /* border: 1px solid #ccc; */
        border-radius: 0;
        width: 100px;
        text-align: center;
        line-height: 0px;
        height: 50px;
      }
  </style>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- Short Bio -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <p style="text-align:center">
                <name>Hao GONG</name>
                <br>
                <!-- <email>gonghao8567 [at] gmail [dot] com</email> -->
                <font id="email" style="display:inline; font_size:10px">
                 <a href="#" onclick="emailScramble.initAnimatedBubbleSort();return false;">unscramble</a>
                </font>
              </p>
              <p style="font-size:16px; color:red"> ⚠️⚠️⚠️Site's under construction, not up-to-date or complete. Stay tuned, and email the above address for my latest résumé.
              </p>
              <p>I am Hao GONG (龔 昊), former Expert in Autonomous Driving and Visual Perception Tech Lead at <a href="https://en.enjoymove.com/" target = "_blank">Enjoy Move Tech</a>. Previously, I was Co-Founder and Algorithm Scientist at Landmark Vision Tech. Prior to this role, I was an Expert in ADAS/Auto Driving R&D at <a href="http://www.o-film.com/en/" target = "_blank">OFilm Group</a> and a Research Scientist at Third Research Institute of Ministry of Public (TRIMP).
              </p>
              <p>I received my PhD from <a href="https://www.gipsa-lab.grenoble-inp.fr/en" target = "_blank">GIPSA Lab</a> at <a href="https://www.univ-grenoble-alpes.fr/english/" target = "_blank">Université Grenoble Alpes</a> under the supervision of Prof. <a href="https://scholar.google.com/citations?user=L8tzv78AAAAJ&hl=en" target = "_blank">Michel DESVIGNES</a>, where I specialize in combinatorial optimization based medical image processing and classification. Prior to that, I received my Bachelor's and Master's degrees in Automation and Pattern Recognition from <a href="https://automation.seu.edu.cn/" target = "_blank">School of Automation</a> at <a href="https://www.seu.edu.cn/english/" target = "_blank">Southeast University</a>.
              </p>
              <!-- <p>
                From 2011 to 2017, I worked at <a href="https://www.intel.com">Intel</a>, as part of <a href="https://www.intelrealsense.com/">Intel RealSense</a>. I primarily designed computer vision algorithms for efficient hardware ASICs, including the Intel RealSense <a href="https://software.intel.com/en-us/articles/realsense-r200-camera">R200</a> and <a href="https://software.intel.com/en-us/realsense/d400">D400</a> RGB-D sensors. Additionally, I worked on <a href="https://github.com/IntelRealSense/librealsense">software APIs</a>, <a href="https://patents.google.com/patent/US9992474B2">active illumination systems</a>, <a href="https://patents.google.com/patent/US9304597">human-computer interaction devices</a>, and helped develop demos for trade shows, including CES 2012-2016.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab.
              </p>
              <p style="color:red">I am currently on the 2024-2025 job market, actively seeking a full-time senior position related to Artificial Intelligence, Computer Vision and Machine Learning. Please feel free to reach out if you are interested.
              </p> -->
              <p><comment>I am currently on the 2024-2025 job market, actively seeking a full-time senior position related to Artificial Intelligence, Computer Vision and Machine Learning. Please feel free to reach out if you are interested.
              </comment></p>
              <p style="text-align:center">
                <!--<a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/gonghao67">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=Ikhs4t0AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/gonghao67"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="pdfs/Hao_Gong_CV.pdf"> Résumé </a> -->
                <!-- <a class="social-icon" href="{{ site.github.owner_url }}" target = "_blank"><i class="fab fa-github"></i></a> | -->
                <a class="social-icon" href="https://maps.app.goo.gl/2SZSKJw6nS1zq7vN8" target="_blank"><i class="ph ph-map-pin"></i></a> |
                <!-- <a class="social-icon" href="https://twitter.com/msuhail153" target="_blank"><i class="fa fa-map-o"></i></a> | -->
                <a class="social-icon" href="{{ site.github.owner_url }}" target = "_blank"><i class="fa fa-code-fork"></i></a> |
                <!-- <a class="social-icon-large" href="https://twitter.com/msuhail153" target="_blank"><i class="ph-bold ph-git-branch"></i></a> | -->
                <a class="social-icon" href="https://scholar.google.com/citations?user=Ikhs4t0AAAAJ" target = "_blank"><i class="fab fa-google"></i></a> |
                <a class="social-icon" href="https://www.linkedin.com/in/gonghao67/" target="_blank"><i class="fab fa-linkedin-in"></i></a> |
                <a class="social-icon" href="https://twitter.com/gonghao67" target="_blank"><i class="fab fa-x-twitter"></i></a> | 
                <!-- <a class="social-icon-large" href="https://twitter.com/msuhail153" target="_blank"><i class="ph ph-wechat-logo"></i></a> | -->
                <a class="social-icon" href="images/WeChat.png" target="_blank"><i class="fab fa-weixin"></i></a> |&nbsp;&nbsp;
                <!-- <a class="social-icon" href="pdfs/Hao_Gong_CV.pdf"><i class="ph-bold ph-file"></i></a> -->
                <!-- <a class="social-icon" href="pdfs/Hao_Gong_CV.pdf" target = "_blank"><i class="fa fa-file-pdf-o"></i></a> -->
                <i class="fa fa-file-pdf-o" style="font-size:1.15rem"></i>
              </p>
            </td>
            <td style="padding:2.5%;width:35%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/avatar2316x2628.png">
            </td>
          </tr>
        </table>
        
        <!-- Personal News -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News and Updates</h2>
              <p class="big">
              [Apr 2024]&nbsp;&nbsp;Our paper Interactive Graph-Cut Segmentation Using Pixel-Wise Posteriors is on arXiv.
              <br>
              [Mar 2024]&nbsp;&nbsp;Our paper Comparison of Methods in Human Skin Decomposition is on arXiv.
              <br>
              [Jan 2024]&nbsp;&nbsp;I am on short career break due to relocation from Shanghai to Los Angeles.
              </p>
              <!-- <p>
                [Apr 2024]&nbsp;&nbsp;Our paper Autonomous Vehicle Research Group is on ArXiv.
              </p>
              <p>
                [Oct 2023]&nbsp;&nbsp;<strong>I'll be joining the <a href="https://research.nvidia.com/labs/avg/">Autonomous Vehicle Research Group</a> of NVIDIA as a research intern next year!</strong>
              </p>
              <p>
                [Apr 2023]&nbsp;&nbsp;<strong>I'll be joining the Octant team of Amazon AWS AI as a research scientist intern this summer!</strong>
              </p>
              <p>
                [Dec 2022]&nbsp;&nbsp;Check out our <a href="https://github.com/520xyxyzq/awesome-object-SLAM">Awesome-Object-SLAM</a> repo for a list of object SLAM papers and resources.
              </p>
              <p>
                [Jul 2022]&nbsp;&nbsp;&nbsp;Our work on  <a href="https://arxiv.org/abs/2203.04424">SLAM-Supported Self-Training for 6D Object Pose Estimation</a> has been <strong>accepted to IROS 2022</strong>.
              </p>
              <p>
                [Apr 2022]&nbsp;&nbsp;Our work on <a href="https://arxiv.org/abs/2204.11936">Discrete-Continuous Smoothing and Mapping</a> has been <span style="color:red">selected for the spotlight session (top 2 of 48)</span> in the ICRA 2022 workshop on <a href="https://sites.google.com/view/ropm">Robotic Perception and Mapping: Emerging Techniques</a>.
              </p>
              <p>
                [Jan 2022]&nbsp;&nbsp;<strong>I'll be joining the Surreal team in the <a href="https://about.facebook.com/realitylabs/">Meta Reality Labs</a> as a research scientist intern this summer!</strong>
              </p>
              <p>
                [Jul 2021]&nbsp;&nbsp;&nbsp;Our work on <a href="https://arxiv.org/abs/2107.09265"> Consensus-Informed Optimization Over Mixtures for Ambiguity-Aware Object SLAM </a> has been <strong>accepted to IROS 2021</strong>.
              </p> -->
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I am interested in computer vision, machine learning, optimization and autonomous driving.
                <!-- with a focuse on -->
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          <!-- New Data Model GraphCut -->
          <!-- <tr>
            <td style="padding:18px;width:25%;vertical-align:middle">
              <img src='images/apsls.png' width="200">
            </td>
            <td style="padding:18px;width:75%;vertical-align:middle">
              <a href="https://ieeexplore.ieee.org/abstract/document/7025179">
                <papertitle>New Data Model for Graph-Cut Segmentation: Application to Automatic Melanoma Delineation</papertitle>
              </a>
              <br>
              Razmig Kéchichian, <strong>Hao Gong</strong>, Marinette Revenu, Olivier Lézoray, Michel Desvignes
              <br>
              <em>IEEE International Conference on Image Processing (ICIP), 2014</em>
              <br>
              website /
              <a href="pdfs/NEW DATA MODEL FOR GRAPH-CUT SEGMENTATION-APPLICATION TO AUTOMATIC MELANOMA DELINEATION.pdf">paper</a> /
              code /
              <p></p>
              <p>We define a new data model for graph-cut image segmentation, according to probabilities learned by a classification process. Unlike traditional graph-cut methods, the data model takes into account not only color but also texture and shape information.</p>
            </td>
          </tr> -->

          <!-- Pigmentation Quantification -->
          <!-- <tr>
            <td style="padding:18px;width:25%;vertical-align:middle">
              <img src='images/gong2012_icip.png' width="200">
            </td>
            <td style="padding:18px;width:75%;vertical-align:middle">
              <a href="https://ieeexplore.ieee.org/abstract/document/6467494">
                <papertitle>Quantification of Pigmentation in Human Skin Images</papertitle>
              </a>
              <br>
              <strong>Hao Gong</strong>, Michel Desvignes
              <br>
              <em>IEEE International Conference on Image Processing (ICIP), 2012</em>
              <br>
              website /
              <a href="pdfs/QUANTIFICATION OF PIGMENTATION IN HUMAN SKIN IMAGES.pdf">paper</a> /
              code /
              <p></p>
              <p>We show how our Beer-Lambert law based model-fitting method can be more accurate in quantification of skin hemoglobin and melanin. </p>
            </td>
          </tr> -->

          
          
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>
                <a href="{{post.link}}" target = "_blank">{{post.title}}</a>
              </h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% if post.comment %}              
              <comment>{{ post.comment }}</comment>
              {% endif %}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}" target = "_blank">paper</a> /
              {% endif %}
              <!--{% if post.arxiv %}
              <a href="{{post.arxiv}}" target = "_blank">arxiv</a> / 
              {% endif %} -->
              {% if post.video %}
              <a href="{{post.video}}" target = "_blank">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target = "_blank">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target = "_blank">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target = "_blank">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target = "_blank">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target = "_blank">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
          
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>Besides my academic work listed in the publications above, a sampling of my work in industry.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <!--
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
          -->
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Talks</h2>
              {% for post in site.posts %}
              {% for cat in post.categories %}
              {% if cat == 'talk'  %}
                <p> 
                <h3>{{post.title}}</h3>
                <br>
                <em>{{post.venue}}</em>, {{ post.date | date: "%Y-%m-%d" }}
                {% if post.comment %}              
                <comment>{{ post.comment }}</comment>
                {% endif %}
                <br>
                {% if post.slides %}
                <a href="{{post.slides}}" target = "_blank">slides</a> /
                {% endif %}
                {% if post.website %}
                <a href="{{post.website}}" target = "_blank">website</a> /
                {% endif %}
                </p>
              {% endif %}
              {% endfor %}
              {% endfor %}
              <!-- <p> These include coursework, side projects and unpublished research work. 
              </p> -->
            </td>
          </tr>
        </table>
        
       <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Service</h2>
              <p> I have reviewed for ICIP2014, ACCV2022, ICASSP2023, ICASSP2024. 
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Honors and Awards</h2>
              <p class="big"> [2010]&nbsp;&nbsp;National Scholarship of China
              <br>
              [2007]&nbsp;&nbsp;Second-Class Academic Scholarship of Southeast University
              <!-- <br>
              [2007]&nbsp;&nbsp;Outstanding Graduate of School of Automation
              <br>
              [2004]&nbsp;&nbsp;Ourstanding Undergraduate of Southeast University -->
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellanea</h2>
              <p> Things you just can't find on my résumé. 
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <br>
                      <br>
                      <div>
                        <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?  cl=ffffff&w=300&t=tt&d=WLowwggeTRvlc4RzKzzCLs4JrMCCbgL5AIaZpjqLEuk&co=145da0&cmn=32cd30&cmo=db1f48'></script> -->
                        <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=WLowwggeTRvlc4RzKzzCLs4JrMCCbgL5AIaZpjqLEuk'></script> -->
                        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=bebebe&w=300&t=tt&d=WLowwggeTRvlc4RzKzzCLs4JrMCCbgL5AIaZpjqLEuk&co=ffffff&ct=151515' target = "_blank"></script>
                      </div>
            </td>
          </tr>
        </table>

       

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                &copy; 2024 Hao GONG. All Rights Reserved.
                <br>
                <font style="font-size:12px"> Inspired by <a style="font-size:11px;" href="https://leonidk.com" target = "_blank">Leonid Leselman</a> and <a style="font-size:11px;" href="https://jonbarron.info" target = "_blank">Jon Barron</a></font>
              </p>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <script>
                    emailScramble = new scrambledString(document.getElementById('email'),'emailScramble', 'm87m@noca5hgog.o6lagi',[21, 8, 11, 14, 12, 3, 7, 19, 15, 9, 5, 1, 2, 13, 18, 20, 10, 17, 6, 4, 16]);
  </script>
</body>

</html>

